.donation-container {
    background-color: #bdd6fa; 
    padding: 30px;
    margin: 35px 120px;
    border-radius: 10px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
}

.donation-container h1 {
    font-size: 20px;
    padding-bottom: 20px;

}
