footer{
    background-color: rgb(30, 29, 29);
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.footer-row{
    display: flex;
    justify-content: space-between;

}

.shpelogo{
    width:150px;
    height: 250px;
    padding-bottom:40px;
}

.footer h1{
    padding-bottom: 40px;
}

footer i{
    margin-bottom: 50px;
    margin-right: 20px;
}


@media(max-width: 1000px){

    footer{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    }

    .footer-row{
        flex-wrap: wrap;
    }


   .footer-col div{
    font-size: 10px;
   }

}